.container {
background-color: aqua;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  height: 5%;
  width: 100%;
}
.body{
  height: 90%;
  width: 100%;
  overflow-y: auto;
}
.footer {
  height: 5%;
}